td {
    background: greenyellow;
    color: black;
    padding: 5px;
    border: 1px solid #fff;
}

button {
    padding: 5px;
    border: 1px solid black;
    width: 80px;
}

button.delete {
    background: white;
    color: red;
}

button.update {
    background: white;
    color: green;
}